<div class="product">
  <div class="product__img">
    <img [src]="product.image" alt="product cover image" />
  </div>
  <div class="product__details">
    <div class="product__title">{{ product.title }}</div>
    <div class="product__brand">{{ product.category }}</div>
    <div class="product__price">{{ product.price | currency }}</div>
    <div class="product__description">
      {{ product.description }}
    </div>

    <div class="product__actions">
      <button class="product__add-to-cart" type="button">
        <span class="product__add-to-cart-icon-left pi pi-cart-plus"></span
        ><span>Add to cart</span>
      </button>
    </div>
  </div>
</div>
