<div class="shopping-cart">
  <div class="shopping-cart__header">
    <h1>Shopping Cart</h1>
    <button (click)="clearCart()">Clear cart</button>
  </div>

  <div class="shopping-cart__content">
    <div>
      <div class="shopping-cart__list">
        @if (cartItems$ | async; as cartItems) { @for (cartItem of cartItems;
        track $index) {
        <app-cart-item [cartItem]="cartItem" />
        } @empty {
        <p>Your cart is empty.</p>
        } }
      </div>
    </div>

    <div class="shopping-cart__footer">
      <div>
        <p>
          Total <span>{{ cartItemsTotal$ | async | currency : "EUR" }}</span>
        </p>
      </div>
    </div>
  </div>
</div>
